*{margin:0;
padding:0;
box-sizing: border-box;
}
body{
    background-color: #010309;  
    color: #ffffff;
}
h3{
    font-family: 'Calligraffitti', cursive;
    font-size: 2rem;
   letter-spacing: 2px;
}
h4{
    font-family: 'Over the Rainbow', cursive;
    font-size: 20px;
    word-spacing:8px;
    letter-spacing: 2px;
    text-align: center;
}
p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    line-height: 1.8;
}
/* INICIO Home & mediaqueries */
.home{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0,3 fr 2fr 2 fr 1fr 0,3fr;
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "section1 section1 section1 section1 section1"
    "section2 section2 section2 section2 section2"
    "footer footer footer footer footer";
}
@media screen and (max-width:768px){
    .container{
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header"
        "main main main main"
    "section1 section1 section1 section1"
    "section2 section2 section2 section2"
    "footer footer footer footer ";}
    .header{flex-direction: column;
        align-items: center;}
    .main{
        grid-area: main;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: none;
    }
    .vidHome{
        width: 420px;
        height: 236px;
    }
    }
    @media screen and (max-width:600px){.container {grid-template-columns: 1fr;grid-template-areas:"header"
        "main"
        "section1"
        "section2"
        "footer ";}
         .header{flex-direction: column;
        align-items: center;}}
/* FIN Home & mediaqueries */

/* INIICIO HEADER/NAV */
.header{
    grid-area: header;
    background-color: #010104;
    color: white;
    display: flex;
    justify-content: space-between;
}
.navi{
    background-color: #010104;

}
.logo{
    width: 300px;
    margin-left:1rem;
}
.menu{
    list-style-type: none;
    padding: 10px;
}

.menu__item{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.navbar-nav li a:hover{
    color: #042da8 !important;
  }
/* FIN HEADER/NAV */

/* INICIO MAIN HOME*/
.main{
    grid-area: main;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main__banner{
    height: 700px;
    background-image: url(../assets/img/nikiperformingguitar.jpg );
    background-attachment:fixed;
    background-position: 20%50%;
    background-repeat: no-repeat;
}
.main__div{
    width: 60rem;
    height: 18.75rem;
    margin: 2rem;
}
.main__intro{
    font-size: 30px;
    font-weight:semibold;
    text-align: center;
    letter-spacing: 1px;
    padding:2rem;
    font-family: 'La Belle Aurore', cursive;

}
/* FIN MAIN HOME*/

/* INICIO Section1 Home */
.section1{
    grid-area: section1;
    margin-top: 2rem;
    padding:2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid white 1px;
}
.section1 h3{
    font-family: 'Calligraffitti', cursive;
    font-size: 30x;
   letter-spacing: 2px;
   padding: 1rem;
   margin:1rem
}
.section1__div{
    display: flex;
    align-items: center;
    
}
.section1 iframe{
    padding: 2rem;
    margin: 1rem;
}
.section1__p{
    width:600px;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 25px;
    padding: 2rem;
    margin:1rem;
    
}
/* FIN Section1 Home */

/* INICIO Section2 Home */
.section2{
    grid-area: section2;
    display: flex;
    justify-content: space-evenly;
}
/* FIN Section2 Home */

/* .header img */

.cards{
    margin: 1rem;
    width: 20%;
    height: auto;
    border-radius: 30px;
}


/* INICIO Discography */
.container2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0,3 fr 1fr 1 fr 1fr 0,3fr;
    grid-template-areas:
    "header header header"
    "newAlbum newAlbum newAlbum"
    "disco disco disco"
    "disco disco disco"
    "footer footer footer ";
}
.newAlbum{
    height: 500px;
    grid-area: newAlbum;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(239, 225, 207);
    color: #010510;
}
.newAlbum__cap{
    width: 800px;
    padding: 1rem;
    margin:1rem;
    text-align: justify;
    font-size: 2rem;
    line-height: 1.2;
}
.newAlbum__img{
    margin:5px;
    border: solid rgba(0, 0, 0, 0.356) 1px;
    width: 20%;
    height: auto;
}
.disco{
    grid-area: disco;
    display: flex;
    flex-direction: column;
}
.disco__divRight{
    align-self: flex-start;
    background-color: rgb(255, 252, 247);
    width: 60rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem
}
.disco__divLeft{
    align-self: flex-end;
    width: 500px;
    background-color: rgb(255, 252, 247);
    width: 60rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem
}
.imgDisco{
    width: 12rem;
    margin:5px;
    padding:10px;
}
.disco__cap{
    color: #010510;
    text-align: justify;
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 1.2;

}

/* INICIO JOURNEY */
.bannerJourn{
    background-image: url(../assets/img/nikihighschool.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    padding:30px;
    margin:auto;
    color:#010a07
}
.imgJourney{
    border-radius: 30px;
}
/* INICIO Gallery */
.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.gallery__img{
    width: 400px;
}
.gallery__div{
    margin: 20px;
}
/* FIN Gallery */

/* INICIO Fanclub */
.fanclub{
display: flex;
justify-content: center;
}
.fanclub__form{
    width: 500px;
}
.fanclub__submit{
    background-color:rgb(255, 252, 247);
    font-family: 'Over the Rainbow', cursive;
    width: 5rem;
}
.formItem{
    font-family: 'Over the Rainbow', cursive;
    font-size: 20px;
}
/* FIN Fanclub */

/* INICIO FOOTER */
.footer{
    grid-area: footer;
}
footer{
    background-color:#010104;
    padding: 20px;
    border-top:solid 1px white;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}
footer a{
    text-decoration: none;
}
.footer__logo{
    width: 50px;
    padding: 0.5rem;
}
.label{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.labelLogo{
    width: 50px;;
    height:50px;
    border-radius: 10%;
}

/* FIN FOOTER */


/* MEDIAQUERIES */

       

