* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ESTILOS GENERALES */
body {
  background-color: #010309;
  color: #ffffff; }

h1 {
  text-align: center;
  font-family: 'Over the Rainbow', cursive;
  font-weight: bold;
  font-size: 3rem; }

h3 {
  font-family: 'Calligraffitti', cursive;
  font-size: 2rem;
  letter-spacing: 2px; }

h4 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 20px;
  word-spacing: 8px;
  letter-spacing: 2px;
  text-align: center; }

/*Fin*/
/*VARIABLES*/
/*HOME GRID*/
.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0,3fr 2fr 2fr 1fr 1fr 0,3fr;
  grid-template-areas: "header header header header header" "main main main main main" "section1 section1 section1 section1 section1" "tour tour tour tour tour"    "section2 section2 section2 section2 section2" "footer footer footer footer footer"; }

/* INICIO MAIN HOME*/
.main {
  grid-area: main;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .main .main__div {
    width: 60rem;
    height: 18.75rem;
    margin: 2rem; }
  .main .main__intro {
    font-size: 30px;
    font-weight: semibold;
    text-align: center;
    letter-spacing: 1px;
    padding: 2rem;
    font-family: 'La Belle Aurore', cursive; }

.main__banner {
  height: 700px;
  background-image: url(../assets/img/home_banner.jpg);
  background-attachment: fixed;
  background-position: 20% 50%;
  background-repeat: no-repeat; }

/* FIN MAIN HOME*/
/* INICIO Section1 Home */
.section1 {
  grid-area: section1;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid white 1px; }
  .section1 h2 {
    font-family: 'Over the Rainbow', cursive;
    font-size: 30x;
    letter-spacing: 2px; }
  .section1__div {
    display: flex;
    align-items: center; }
    .section1__div iframe {
      padding: 2rem;
      margin: 1rem;
      width: 700px;
      height: 393.75px; }
  .section1__p {
    width: 600px;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 28px;
    padding: 2rem;
    margin: 1rem; }

/* FIN Section1 Home */
/*INICIO Tour*/
.tour {
  grid-area: tour;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: solid white 1px; }
  .tour .tour__title {
    margin: 2rem;
    padding: 2.5rem;
    font-family: 'Over the Rainbow', cursive;
    font-weight: bold;
    font-size: 50px;
    align-self: center;
    border: solid white 1px;
    border-radius: 30px;
    animation-name: us;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 10s; }
  .tour .tour__dates {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 30px; }
    .tour .tour__dates h3 {
      font-weight: bold;
      font-family: 'Over the Rainbow', cursive;
      padding: 1rem;
      font-size: 22px; }
    .tour .tour__dates .tickets a {
      text-decoration: none; }
    .tour .tour__dates .tickets h4 {
      padding: 1rem;
      color: #ffffff;
      font-family: "Calligraffitti", cursive;
      font-weight: bold;
      background-color: #011552;
      border-radius: 15px; }
      .tour .tour__dates .tickets h4:hover {
        background-color: #ffffff;
        color: #011552; }

@keyframes us {
  0% {
    color: #001c72; }
  25% {
    color: #ffffff; }
  50% {
    color: #ffffff; }
  100% {
    color: #001c72; } }

@keyframes ticket {
  0% {
    background-color: #011552;
    color: white; }
  25% {
    background-color: #ffffff;
    color: #011552; }
  50% {
    background-color: #ffffff;
    color: #011552; }
  100% {
    background-color: #011552;
    color: white; } }

/* INICIO Section2 Home */
.section2 {
  grid-area: section2;
  display: flex;
  justify-content: space-evenly; }
  .section2 h3 {
    margin-top: 2rem;
    text-align: center; }
  .section2 .cards {
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin: 1rem; }

/* FIN Section2 Home */
/* INICIO Home mediaqueries */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "main main main" "section1 section1 section1" "tour tour tour" "section2 section2 section2" "footer footer footer"; }
  .main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .main__div {
      background-color: #0101048a;
      width: 416px;
      height: 550px; }
  .section1 {
    display: flex;
    flex-direction: column; }
    .section1 .section1 h3 {
      font-size: 30px;
      text-align: center; }
    .section1 .section1__div {
      display: flex;
      flex-direction: column; }
      .section1 .section1__div .section1 iframe {
        margin: 16px 16px 0px 16px; }
      .section1 .section1__div .section1__p {
        margin: 0px 16px 16px 16px;
        padding: 1rem;
        font-size: 25px; }
  .section2 {
    display: flex;
    flex-wrap: wrap; }
    .section2 .cards {
      width: 300px;
      height: auto; } }

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "section1" "tour" "section2" "footer "; }
  .main__banner {
    background-image: url(../assets/img/home_banner.jpg);
    background-repeat: no-repeat;
    background-position: center; }
  .main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main__div {
      background-color: #0101048a;
      width: 416px;
      height: 550px; }
  .section1 {
    display: flex;
    flex-direction: column; }
    .section1 h2 {
      font-size: 30px;
      text-align: center; }
    .section1__div {
      display: flex;
      flex-direction: column; }
      .section1__div iframe {
        width: 420px;
        height: 236px;
        margin: 16px 16px 0px 16px; }
    .section1__p {
      margin: 0px 16px 16px 16px;
      padding: 1rem;
      width: 400px;
      font-size: 23px; }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*INIICIO HEADER/NAV*/
.header {
  grid-area: header;
  background-color: #010104;
  color: white; }
  .header .logo {
    width: 300px;
    margin-left: 1rem; }
  .header .menu__item {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: white;
    font-family: 'Over the Rainbow', cursive; }
  .header .navbar-nav li a:hover {
    color: #042da8 !important; }

/*FIN HEADER*/
/* INICIO Discography */
/* GRID */
.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0,3fr 1fr 1fr 1fr 0,3fr;
  grid-template-areas: "header header header" "newAlbum newAlbum newAlbumImg" "disco disco disco" "disco disco disco" "footer footer footer "; }

/* FIN GRID */
/* INICIO Main: New Album */
.newAlbum {
  grid-area: newAlbum;
  background-color: #efe1cf;
  color: #010510;
  display: flex;
  align-items: center;
  justify-content: center; }
  .newAlbum__div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .newAlbum__div .newAlbum__title {
      font-family: 'Over the Rainbow', cursive;
      font-weight: bold;
      text-align: center;
      margin: 2rem 0px 0px 0px; }
    .newAlbum__div .newAlbum__cap {
      width: 700px;
      text-align: center;
      padding: 1rem;
      margin: 1rem;
      font-size: 2rem;
      line-height: 1.2;
      font-family: 'La Belle Aurore', cursive; }
    .newAlbum__div .newAlbum__cap2 {
      text-align: center;
      padding: 1rem;
      margin: 1rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: 'Over the Rainbow', cursive; }

.newAlbumImg {
  grid-area: newAlbumImg;
  background-color: #efe1cf;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .newAlbumImg img {
    width: 400px;
    height: 400px; }

/*FIN*/
/*INCICIO Section: Disco*/
.disco {
  grid-area: disco;
  display: flex;
  flex-direction: column; }
  .disco h2 {
    font-family: 'Over the Rainbow', cursive;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    align-self: center; }
  .disco__container, .disco__container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    border-bottom: dotted white 0.2px; }
    .disco__container h3, .disco__container2 h3 {
      align-self: flex-start;
      font-size: 40px;
      margin: 1rem;
      padding: 2rem; }
    .disco__container .disco__div, .disco__container2 .disco__div {
      background-color: #fffcf7;
      width: 38rem;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      margin: 1rem;
      padding: 1rem; }
      .disco__container .disco__div .imgDisco, .disco__container2 .disco__div .imgDisco {
        width: 12rem;
        margin: 5px;
        padding: 10px; }
      .disco__container .disco__div .disco__indiv, .disco__container2 .disco__div .disco__indiv {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem; }
      .disco__container .disco__div .disco__title, .disco__container2 .disco__div .disco__title {
        color: #010510;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        font-family: 'Calligraffitti', cursive;
        margin: 0; }
      .disco__container .disco__div .disco__cap, .disco__container2 .disco__div .disco__cap {
        color: #010510;
        font-size: 25px;
        font-family: 'Caveat', cursive;
        margin: 0; }
      .disco__container .disco__div .view__btn, .disco__container2 .disco__div .view__btn {
        font-size: 25px;
        font-weight: bold;
        font-family: 'La Belle Aurore', cursive;
        text-decoration: underline; }
      .disco__container .disco__div .view__btn:hover, .disco__container2 .disco__div .view__btn:hover {
        background-color: #010510;
        color: white; }
      .disco__container .disco__div a, .disco__container2 .disco__div a {
        text-decoration: none; }
      .disco__container .disco__div .spotify, .disco__container2 .disco__div .spotify {
        width: 80px; }
      .disco__container .disco__div .apple, .disco__container2 .disco__div .apple {
        width: 50px; }
  .disco__container2 {
    border: 0px; }

.track__div {
  display: flex;
  flex-direction: column; }
  .track__div p, .track__div .italic {
    font-size: 28px;
    font-family: 'Caveat', cursive;
    padding: 0.5rem;
    margin: 0.5rem; }
    .track__div p a, .track__div .italic a {
      color: white; }
  .track__div .italic {
    font-style: italic; }

.tracklist {
  background-color: #010510; }

.tracks {
  padding-bottom: 0.5rem;
  font-family: 'La Belle Aurore', cursive;
  font-size: 25px; }

.tracks__btn {
  background-color: #fffcf7;
  font-family: 'Over the Rainbow', cursive; }

/* MEDIAQUERIE Disco */
@media screen and (max-width: 768px) {
  .container2 {
    grid-template-areas: "header header header" "newAlbum newAlbum newAlbum" "newAlbumImg newAlbumImg newAlbumImg" "disco disco disco" "disco disco disco" "footer footer footer"; }
  .newAlbum {
    background-color: #010510;
    color: white;
    display: flex;
    flex-direction: column; }
    .newAlbum__div {
      display: flex;
      flex-direction: column; }
      .newAlbum__div .newAlbum__title {
        font-family: 'Over the Rainbow', cursive;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        margin: 3rem 3rem 0rem 3rem; }
      .newAlbum__div .newAlbum__cap {
        text-align: center;
        letter-spacing: 2px;
        padding: 1rem;
        margin: 1rem;
        font-size: 2rem;
        line-height: 1.2;
        font-family: 'La Belle Aurore', cursive; }
  .newAlbumImg {
    grid-area: newAlbumImg;
    background-color: #010510;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem; } }

@media screen and (max-width: 480px) {
  .container2 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "newAlbum" "newAlbumImg" "disco" "disco" "footer "; }
  .newAlbum {
    background-color: #010510;
    color: white;
    display: flex;
    flex-direction: column; }
    .newAlbum .newAlbum__div {
      display: flex;
      flex-direction: column; }
      .newAlbum .newAlbum__div .newAlbum__title {
        width: 350px;
        font-family: 'Over the Rainbow', cursive;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        margin: 3rem 3rem 0rem 3rem; }
      .newAlbum .newAlbum__div .newAlbum__cap {
        width: 440px;
        text-align: center;
        letter-spacing: 2px;
        padding: 1rem;
        margin: 1rem;
        font-size: 2rem;
        line-height: 1.2;
        font-family: 'La Belle Aurore', cursive; }
      .newAlbum .newAlbum__div .newAlbum__cap2 {
        width: 400px; }
  .newAlbumImg {
    background-color: #010510;
    display: flex;
    justify-content: center;
    margin-bottom: 6rem; }
  .disco h2 {
    width: 400px; }
  .disco__container, .disco__container2 {
    margin: 0rem;
    padding: 0rem; }
    .disco__container .disco__div, .disco__container2 .disco__div {
      width: 28rem; }
  .disco .imgDisco {
    width: 5rem; } }

/* FIN MEDIAQUERIE Disco */
/* INICIO JOURNEY */
.journey {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0,3fr 1fr 1fr 1fr 0,3fr;
  grid-template-areas: "header header header" "jmain jmain jmain" "journey__section journey__section journey__section" "journey__section journey__section journey__section" "footer footer footer "; }

.jmain {
  grid-area: jmain; }

.bannerJourn {
  background-image: url(../assets/img/journey_banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 30px;
  margin: auto;
  color: #010a07; }

/*INICIO Section1 Journey*/
.journey__section {
  grid-area: journey__section;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .journey__section .journey__intro {
    margin: 2rem;
    padding: 2rem;
    font-size: 35px;
    align-self: center;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 1.5;
    text-align: center; }
  .journey__section .imgJourney {
    border-radius: 30px;
    width: 650px;
    padding: 10px;
    margin: 10px; }
  .journey__section .journey__div {
    display: flex;
    flex-direction: column; }
    .journey__section .journey__div .journey__p {
      width: 700px;
      font-family: 'Caveat', cursive;
      font-size: 30px;
      letter-spacing: 2px;
      word-spacing: 2px;
      line-height: 1.5;
      padding: 1rem;
      margin: 1rem;
      text-align: center; }

/* JOURNEY MEDIAQUERIE */
@media screen and (max-width: 768px) {
  .journey {
    grid-template-areas: "header header header" "jmain jmain jmain" "journey__section journey__section journey__section" "journey__section journey__section journey__section" "journey__section journey__section journey__section" "footer footer footer"; } }

@media screen and (max-width: 480px) {
  .journey {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0,3fr 1fr 1fr 1fr 0,3fr;
    grid-template-areas: "header" "jmain" "journey__section" "journey__section" "journey__section" "footer footer footer "; }
  .journey__section h1 {
    padding: 1rem;
    margin: 1rem; }
  .journey__section .journey__intro {
    font-family: 'Caveat', cursive;
    margin: 0rem 1rem 1rem 1rem;
    padding: 0rem 1rem 1rem 1rem;
    font-weight: bold; }
  .journey__section .imgJourney {
    width: 450px; }
  .journey__section .journey__div .journey__p {
    width: 450px; } }

/* FIN Journey */
/* INICIO Gallery */
.gallery__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }
  .gallery__banner h1 {
    padding: 2rem 8rem 2rem 8rem; }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .gallery__div {
    margin: 20px; }
  .gallery .gallery__img {
    width: 400px; }
  .gallery .gallery__img:hover {
    transform: scale(1.5, 1.5);
    transition: all 1s ease;
    border: solid 1px rgba(197, 195, 195, 0.246); }

@media screen and (max-width: 768px) {
  .gallery .gallery__img {
    width: 320px; } }

@media screen and (max-width: 480px) {
  .gallery .gallery__img {
    width: 400px; } }

/* INICIO Fanclub */
.fanclub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0,3fr 1fr 1fr 1fr 0,3fr;
  grid-template-areas: "header  header  header" "sec1fc  fcmain sec2fc" "sec1fc  fcmain sec2fc" "sec1fc  fcmain sec2fc" "footer footer footer"; }

.fcmain {
  grid-area: fcmain;
  display: flex;
  flex-direction: column; }
  .fcmain .fc__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .fcmain .fc__div h1 {
      font-weight: none; }
    .fcmain .fc__div p, .fcmain .fc__div .track__div .italic, .track__div .fcmain .fc__div .italic {
      font-size: 25px;
      letter-spacing: 2px;
      text-align: center;
      font-family: 'La Belle Aurore', cursive;
      padding: 1rem 1rem 0rem 1rem; }
  .fcmain .fanclub__form {
    width: 500px;
    margin: 48px;
    padding: 16px; }
    .fcmain .fanclub__form .formItem {
      font-family: 'Over the Rainbow', cursive;
      font-size: 20px; }
    .fcmain .fanclub__form .fanclub__submit {
      background-color: #fffcf7;
      font-family: 'Over the Rainbow', cursive;
      width: 5rem; }

/*INICIO sections*/
.sec1fc {
  grid-area: sec1fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.sec2fc {
  grid-area: sec2fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.fc__img {
  width: 500px;
  border-radius: 30px; }

.fc__p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Over the Rainbow', cursive;
  padding: 2rem; }

/*  MEDIAQUERIES FANCLUB */
@media screen and (max-width: 768px) {
  .fanclub {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header  header  header" "fcmain  fcmain fcmain" "sec1fc  sec1fc sec1fc" "sec2fc  sec2fc sec2fc" "footer footer footer"; }
  .fcmain .fanclub__form {
    align-self: center;
    width: 650px; }
  .sec1fc .fc__img {
    display: none; }
  .sec1fc .fc__p {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 0px 0px 16px 0px; }
  .sec2fc .fc__img {
    display: none; }
  .sec2fc .fc__p {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 0px 0px 16px 0px; } }

@media screen and (max-width: 480px) {
  .fanclub {
    grid-template-columns: 1fr;
    grid-template-rows: 0,3fr 1fr 1fr 1fr 0,3fr;
    grid-template-areas: "header" "fcmain" "sec1fc" "sec2fc" "footer"; }
  .fcmain .fanclub__form {
    margin: 1rem;
    padding: 0px;
    width: 400px; }
  .fc__img {
    width: 440px; }
  .fc__p {
    width: 420px;
    padding: 1rem; } }

/* FIN MEDIAQUERIES FANCLUB */
/* INICIO FOOTER */
.footer {
  grid-area: footer;
  background-color: #010104;
  padding: 20px;
  border-top: solid 1px white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer .footer__div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .footer .footer__div .footer__logo {
      width: 300px; }
    .footer .footer__div .socialmedia, .footer .footer__div .streaming {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin: 2rem; }
      .footer .footer__div .socialmedia .logos__cap, .footer .footer__div .streaming .logos__cap {
        font-weight: bold;
        font-size: 30px; }
      .footer .footer__div .socialmedia div a, .footer .footer__div .streaming div a {
        text-decoration: none; }
      .footer .footer__div .socialmedia div .media__logo, .footer .footer__div .streaming div .media__logo {
        width: 50px;
        padding: 0.5rem; }
      .footer .footer__div .socialmedia div .media__logo2, .footer .footer__div .streaming div .media__logo2 {
        border-radius: 10px;
        width: 80px; }
    .footer .footer__div .label {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin: 2rem; }
      .footer .footer__div .label .label__div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .footer .footer__div .label .label__div h5 {
          font-weight: bold;
          font-size: 25px;
          font-family: 'Over the Rainbow', cursive;
          padding: 1rem; }
        .footer .footer__div .label .label__div .labelLogo {
          width: 70px;
          height: 70px;
          border-radius: 10%; }
        .footer .footer__div .label .label__div .labelLogo2 {
          width: 50px;
          height: 50px;
          border-radius: 10%; }
  .footer p, .footer .track__div .italic, .track__div .footer .italic {
    text-align: center;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    color: #8f8f8f;
    margin: 0; }

/* FIN FOOTER */
/* MEDIAQUERIES FOOTER */
@media screen and (max-width: 480px) {
  .footer {
    padding: 0px; }
    .footer .footer__div {
      flex-direction: column;
      align-items: center; }
      .footer .footer__div .socialmedia, .footer .footer__div .streaming {
        margin: 0; }
      .footer .footer__div .label {
        margin: 0; }
        .footer .footer__div .label .label__div {
          justify-content: center;
          text-align: center; } }

@media screen and (max-width: 768px) {
  .footer .footer__div {
    flex-direction: column;
    align-items: center; }
    .footer .footer__div .socialmedia, .footer .footer__div .streaming {
      margin: 0; }
    .footer .footer__div .label {
      margin: 0; } }
