/* INICIO Gallery */
.gallery__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    h1{
    padding: 2rem 8rem 2rem 8rem;
}
}
.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    &__div{
        margin: 20px; 
    }
    .gallery__img{
        width: 400px;
    }
    .gallery__img:hover{
        transform: scale(1.5,1.5);
        transition: all 1s ease;
        border: solid 1px rgba(197, 195, 195, 0.246);
    }
}

@media screen and (max-width:768px) {
    .gallery{
        .gallery__img{
        width: 320px;
        }
    }
}
@media screen and (max-width:480px) {
    .gallery{
        .gallery__img{
        width: 400px;
        }
    }
}