
/*HOME GRID*/
.home{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0,3fr 2fr 2fr 1fr 1fr 0,3fr;
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "section1 section1 section1 section1 section1"
    "tour tour tour tour tour"   
    "section2 section2 section2 section2 section2"
    "footer footer footer footer footer";
}
/* INICIO MAIN HOME*/
.main{
    grid-area: main;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .main__div{
        width: 60rem;
        height: 18.75rem;
        margin: 2rem;
    }
    .main__intro{
        font-size: 30px;
        font-weight:semibold;
        text-align: center;
        letter-spacing: 1px;
        padding:2rem;
        font-family: 'La Belle Aurore', cursive;
    
    }
}
.main__banner{
    height: 700px;
    background-image: url(../assets/img/home_banner.jpg);
    background-attachment:fixed;
    background-position: 20%50%;
    background-repeat: no-repeat;
}
/* FIN MAIN HOME*/
/* INICIO Section1 Home */

.section1{
    grid-area: section1;
    margin-top: 2rem;
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid white 1px;
    h2{
        font-family: 'Over the Rainbow', cursive;
        font-size: 30x;
       letter-spacing: 2px;
    }
    &__div{
        display: flex;
        align-items: center;
        iframe{
            padding: 2rem;
            margin: 1rem;
            width: 700px;
            height: 393.75px;
        }
    }
    &__p{
        width:600px;
        font-family: 'La Belle Aurore', cursive;
        text-align: center;
        font-size: 28px;
        padding: 2rem;
        margin:1rem;  
    }
}
/* FIN Section1 Home */
/*INICIO Tour*/
.tour{
    grid-area: tour;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: solid white 1px;
    .tour__title{
        margin: 2rem;
        padding: 2.5rem;
        font-family: 'Over the Rainbow', cursive;
        font-weight: bold;
        font-size: 50px;
        align-self: center;
        border: solid white 1px;
        border-radius: 30px;
        animation-name: us;
        animation-iteration-count: infinite;
            animation-duration: 3s;
            animation-delay: 10s;   
    }
    .tour__dates{
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 2rem;
        padding: 1rem;
        color: black;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        font-family:'La Belle Aurore', cursive;
        font-size: 30px;
        h3{
            font-weight: bold;
            font-family: 'Over the Rainbow', cursive;
            padding: 1rem;
            font-size: 22px;
        }
        .tickets{
            a{
                text-decoration: none;
            } 
            h4{ 
                padding: 1rem;
                color: #ffffff;
                font-family: $caligra;
                font-weight: bold;
                background-color: #011552;
                border-radius: 15px;
                &:hover{
                background-color: #ffffff;
                color: #011552;}  
            }
        }
    }
}

@keyframes us{
    0% {
      color: #001c72; }
    25% {
      color: #ffffff; }
    50% {
      color: #ffffff; }
    100% {
      color: #001c72; } }

@keyframes ticket{
    0% {
        background-color: #011552;
        color:white }
    25% {
          background-color: #ffffff;
        color: #011552; }
    50% {
        background-color: #ffffff;
        color: #011552; }
    100% {background-color: #011552;
        color:white} 
    }
/* INICIO Section2 Home */

.section2{
    grid-area: section2;
    display: flex;
    justify-content: space-evenly;
     h3{
    margin-top: 2rem;
    text-align: center;
    
}
    .cards{
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin: 1rem;
}
}

/* FIN Section2 Home */

/* INICIO Home mediaqueries */
@media screen and (max-width:768px){
    .container {grid-template-columns: 1fr 1fr 1fr;grid-template-areas:"header header header"
    "main main main"
    "section1 section1 section1"
    "tour tour tour"
    "section2 section2 section2"
    "footer footer footer";}
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        .main__div{
        background-color: #0101048a;
        width: 416px;
        height: 550px;
    }   
    }
    .section1{
        display: flex;
        flex-direction: column;
        .section1 h3{
        font-size: 30px;
        text-align: center;
        }
        .section1__div{
        display: flex;
        flex-direction: column;
            .section1 iframe{
            margin: 16px 16px 0px 16px
            }
            .section1__p{
            margin: 0px 16px 16px 16px;
            padding:1rem;
            font-size: 25px;
            }
        }
}
    .section2{
    display: flex;
    flex-wrap: wrap;
    .cards{
        width: 300px;
        height: auto;
    }
    }
}

@media screen and (max-width:480px){
    .container {grid-template-columns: 1fr;grid-template-areas:"header"
    "main"
    "section1"
    "tour"
    "section2"
    "footer ";}
    .main__banner{
        background-image:url(../assets/img/home_banner.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        &__div{
            background-color: #0101048a;
            width: 416px;
            height: 550px;
        }
    }
    .section1{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 30px;
            text-align: center;
        }
        &__div{
            display: flex;
            flex-direction: column;
            iframe{
                width: 420px;
                height: 236px;
                margin: 16px 16px 0px 16px
        }}
        &__p{
            margin: 0px 16px 16px 16px;
            padding:1rem;
            width: 400px;
            font-size: 23px;
        }
    }
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}