<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NIKI's discography - Official website </title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat:wght@400;600;700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=La+Belle+Aurore&family=Nothing+You+Could+Do&family=Over+the+Rainbow&family=Parisienne&display=swap" rel="stylesheet">
</head>
<body class="container2">
     <!-- INICIO HEADER -->
     <header class="header">
        <img class="logo" src="../assets/img/nikilogo2.png "></img>
        <nav>
            <ul class="menu">
                <li><a href=../index.html>Home</a></li>
                <li><a href="disco.html"> Discography</li></a>
                <li><a href="journ.html">Journey</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="fc.html">Fanclub</a></li>
            </ul>
        </nav>
    </header>
    <!-- FIN HEADER -->
    <!-- INICIO MAIN -->
    <main class="newAlbum">
        <p class="newAlbum__cap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, molestiae? Quae aliquid voluptates officia illo autem sunt dolores accusantium ullam fugiat non laudantium in laborum, iure cupiditate et ut quos.</p>
        <img src="../assets/img/disco/album_nicole.jpg" alt="album cover" class="newAlbum__img">
    </main>
    <!-- FIN MAIN -->
    <!-- INICIO DISCOGRAPHY -->
    <section class="disco">
        <h2>Check out Niki's full discography and where to find it</h2>
        <div class="disco__divRight">
            <img class="imgDisco" src="../assets/img/disco/single_seeunever.jpg" alt="single cover">
                <p class="disco__cap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, omnis. Praesentium accusantium necessitatibus ab velit. Repellendus, eos! Quae, nobis iste corrupti vitae ipsa saepe consequatur modi quaerat! </p>
        </div>
            <div class="disco__divLeft">
                <p class="disco__cap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, omnis. Praesentium accusantium necessitatibus ab velit. Repellendus, eos! Quae, nobis iste corrupti vitae ipsa saepe consequatur modi quaerat!</p>
            <img class="imgDisco" src="../assets/img/disco/album_zephyr.jpg" alt="album cover">
            </div>
        <div class="disco__divRight">
            <img class="imgDisco" src="../assets/img/disco/single_lowkey.jpg" alt="single cover">
                <p class="disco__cap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, omnis. Praesentium accusantium necessitatibus ab velit. Repellendus, eos! Quae, nobis iste corrupti vitae ipsa saepe consequatur modi quaerat!</p>
        </div>
            <div class="disco__divLeft">
                <p class="disco__cap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, omnis. Praesentium accusantium necessitatibus ab velit. Repellendus, eos! Quae, nobis iste corrupti vitae ipsa saepe consequatur modi quaerat!</p>
            <img class="imgDisco" src="../assets/img/disco/ep_downton.jpg" alt="ep cover">
            </div>
       <div class="disco__divRight">
            <img class="imgDisco" src="../assets/img/disco/album_moonchild.jpg" alt="album cover moonchild">
                <p class="disco__cap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, omnis. Praesentium accusantium necessitatibus ab velit. Repellendus, eos! Quae, nobis iste corrupti vitae ipsa saepe consequatur modi quaerat!</p>
       </div>
            <div class="disco__divLeft">
                <p class="disco__cap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, omnis. Praesentium accusantium necessitatibus ab velit. Repellendus, eos! Quae, nobis iste corrupti vitae ipsa saepe consequatur modi quaerat!</p>
            <img class="imgDisco" src="../assets/img/disco/album_nicole.jpg" alt="album cover">
            </div>
    </section>
    <!-- FIN DISCOGRAPHY -->
    <!-- INICIO FOOTER -->
    <footer class="footer">
        <h4 class="footerItem">Social Media</h4>
        <h4 class="footerItem">Credits</h4>
        <h4 class="footerItem">Label</h4>
    </footer>
    <!-- FIN FOOTER -->
</body>
</html>