<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NIKI's official fanclub </title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat:wght@400;600;700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=La+Belle+Aurore&family=Nothing+You+Could+Do&family=Over+the+Rainbow&family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
     <!-- INICIO HEADER -->
    <header class="header">
        <img class="logo" src="../assets/img/nikilogo2.png "></img>
        <nav>
            <ul class="menu">
                <li><a href=../index.html>Home</a></li>
                <li> <a href="disco.html"> Discography</a></li>
                <li><a href="journ.html">Journey</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="fc.html">Fanclub</a></li>
            </ul>
        </nav>
    </header>
    <!-- FIN HEADER -->
    <div class="bannerFan"></div>
    <section>
        <form action="">
                <h2>Be part of Niki's official fanclub</h2>
                <div class="formItem">
                <label for="name">Name:</label>
                <input type="text" name="name">
                </div>
                <div class="formItem">
                    <label for="surn">Surname:</label>
                    <input type="text" name="surn">
                </div>
                <div class="formItem">
                    <label for="mail">E-mail:</label>
                    <input type="email" name="mail" required>
                </div>
                <div class="formItem">
                    <label for="pass">Password:</label>
                    <input type="password" name="pass">
                </div>
                <div class="formItem">
                <input type="submit">
                </div>
                <div class="formItem">
                    <input type="reset">
                </div>
        </form>
    </section>
    <!-- INICIO FOOTER -->
    <footer class="footer">
        <h4 class="footerItem">Social Media</h4>
        <h4 class="footerItem">Credits</h4>
        <h4 class="footerItem">Label</h4>
    </footer>
    <!-- FIN FOOTER -->
</body>
</html>