<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NIKI's journey - Official website</title>
    <link rel="shortcut icon" href="../assets/img/favicon-32x32.png">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat:wght@400;600;700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=La+Belle+Aurore&family=Nothing+You+Could+Do&family=Over+the+Rainbow&family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
    <div class="journey">
         <!-- INICIO HEADER -->
        <header class="header2">
            <img class="logo" src="../assets/img/nikilogo2.png"></img>
            <nav>
                <ul class="menu">
                    <li><a href=../index.html>Home</a></li>
                    <li> <a href="disco.html"> Discography</a></li>
                    <li><a href="journ.html">Journey</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="fc.html">Fanclub</a></li>
                </ul>
            </nav>
        </header>
        <!-- FIN HEADER -->
        <!-- INICIO MAIN -->
            <main class="jmain">
                <div class="bannerJourn">
                </div>
    
            </main>
            <!-- INICIO JOURNEY -->
            <section class="journey__section">
                <h1>Journey</h1>
                <p class="journey__intro">Growing up, Indonesian singer NIKI didn't see many mainstream artists that she could relate to. But that didn't stop her from pursuing her dreams. </p>
                <img class="imgJourney" src="../assets/img/journey1.jpg" alt="">
                <div class="journey__div">
                    <p class="journey__p">Born Nicole Zefanya, NIKI taught herself to play guitar and write songs, eventually winning a contest to open for Taylor Swift at age 15. She first posted her music to YouTube in 2014, quickly garnering more than 40,000 followers. Fast forward eight years, and the now 23-year-old NIKI boasts over a billion streams, is headlining her own tour, and recently became the first Indonesian artist to perform at Coachella — cementing herself as a star. </p>
                    <p class="journey__p">Now based in the U.S. and signed to Asian-American management company 88rising, NIKI is working to change the entertainment landscape for her fellow aspiring young artists who had to pave their own way. Not only does her sound evolve with each new project — blending pop, alternative and R&B — but NIKI has full creative control, writing, recording and producing her own music.</p>
                </div>
                <div class="journey__div">
                    <p class="journey__p">She didn't know it then, but it was in 2017 when Zefanya reached a point of no return. The trajectory of her life was to change irrevocably; she would be forced to pack lightly in order to move forward – and some things would have to be left behind. Here, the unfathomable abundance of possibility, the infinite bouquet of identities Zefanya could choose for herself, were narrowed to one.</p>
                    <p class="journey__p"> It was 2017, at 18-years-old, when she unmoored herself from her native Jakarta, Indonesia to study music at a liberal arts university in Nashville; when the meaning of 'home' splintered in two. 
                    </p> 
                </div>
                <img class="imgJourney" src="../assets/img/journey2.jpg" alt="">

               <img class="imgJourney" src="../assets/img/journey3.jpg" alt=""> 
               <div class="journey__div">
                <p class="journey__p">It was 2017 when she became the first woman to be signed to Asian-American label 88rising, where she would rub shoulders with the likes of Joji and Rich Brian.
                <p class="journey__p">It was 2017 when Zefanya went through her first heartbreak, that first fracture which feels near-fatal, her life and art eclipsed. </p>
                <p class="journey__p">It was 2017 when she would begin anew, wiping her “nzee24” YouTube account clean of its sincerely felt, homespun original songs and covers despite her online prominence. It was time to move on.</p>
                <p class="journey__p">It was the year, in more ways than one, when Nicole became NIKI.</p></div>
                <div class="journey__div">
                    <p class="journey__p">In the intervening years, as one of the jewels in 88rising's crown and Indonesia's finest exports, Zefanya's instinct for honeyed yet heartfelt RnB and immaculate vocal command has secured her a devoted listenership in the tens of millions.
                    <p class="journey__p">One of her first singles, “I Like U”, with its gleaming electronics and skittering 808s, meant that she rose to fame with whiplash-inducing speed, succeeded by the likes of “lowkey” in 2019 which is now sprinting towards a quarter of a billion streams.</p>
                    <p class="journey__p">She has relentlessly carved a space for herself as an Asian artist alongside her labelmates, and through maximising her platform to elevate her community and pushing creative boundaries, her audience continues to grow at a staggering rate.</p>
                </div>
               <img class="imgJourney" src="../assets/img/journey4.jpg" alt=""> 
            </section>
       
        <!-- FIN JOURNEY -->
        <!-- INICIO FOOTER -->
        <footer class="footer">
            <div class="socialmedia"><h4 class="socialmedia__cap"> <h4>Social Media</h4>
                <a href="https://www.instagram.com/nikizefanya/" target="_blank">
                    <img class="footer__logo" src="../assets/img/logos/instagram_logo.png" alt="intagram logo">
                </a>
                <a href="https://www.facebook.com/NIKIZefanya" target="_blank">
                    <img class="footer__logo" src="../assets/img/logos/facebook_logo.png" alt="facebook logo">
                </a>
                <a href="https://twitter.com/nikizefanya" target="_blank">
                    <img class="footer__logo" src="../assets/img/logos/twitter_logo.png" alt="twitter logo">
                </a>
                <a href="https://www.youtube.com/channel/UCaAWRu53UW815hGTmxvHFbA" target="_blank">
                    <img class="footer__logo" src="../assets/img/logos/youtube_logo.png" alt="youtube logo">
                </a>
            </div>
            <div class="label">
                <h4>Niki's label agency</h4>
                <div class="label__div">
                    <a href="https://88rising.com/" target="_blank"><img class="labelLogo" src="../assets/img/logos/rising88_logo.jpg" alt="88rising logo"></a>
            </div>
        </footer>
        <!-- FIN FOOTER -->
    </div>
</body>
</html>