<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NIKI's journey - Official website</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat:wght@400;600;700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=La+Belle+Aurore&family=Nothing+You+Could+Do&family=Over+the+Rainbow&family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
     <!-- INICIO HEADER -->
    <header class="header">
        <img class="logo" src="../assets/img/nikilogo2.png "></img>
        <nav>
            <ul class="menu">
                <li><a href=../index.html>Home</a></li>
                <li> <a href="disco.html"> Discography</a></li>
                <li><a href="journ.html">Journey</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="fc.html">Fanclub</a></li>
            </ul>
        </nav>
    </header>
    <!-- FIN HEADER -->
    <!-- INICIO MAIN -->
   <div class="grad">
        <main>
            <section class="bannerJourn">
            </section>
        </main>
        <!-- INICIO JOURNEY -->
        <section>
            <img class="imgJourney" src="../assets/img/nikiinagreensweater.jpg" alt="">
            <p class="pJourney">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quis ex aliquid molestias aperiam nesciunt, id maiores eligendi asperiores vitae alias voluptates incidunt dolor labore natus. Similique numquam aut incidunt qui ea obcaecati. Esse fugiat quis dolor fugit ab, necessitatibus aspernatur distinctio, nobis molestiae libero accusantium porro, reprehenderit tempora hic?</p>
        
            <p class="pJourney">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi placeat earum voluptate voluptas odio voluptatum nam aspernatur debitis dolores incidunt illo officia accusamus dolorem fugit autem facilis, eligendi, aliquid reiciendis? Impedit, nam veritatis! Cumque, non accusamus incidunt porro dolorum provident sunt! Reiciendis iusto exercitationem dolores beatae illo accusantium sapiente. Quas repudiandae sint mollitia est officia nesciunt voluptatibus commodi optio porro.</p>
            <img class="imgJourney" src="../assets/img/nikiinagreensweater2.jpg" alt="">
        </section>
   </div>
    <!-- FIN JOURNEY -->
    <!-- INICIO FOOTER -->
    <footer class="footer">
        <div class="socialmedia"><h4 class="socialmedia__cap"> <h4>Social Media</h4>
            <a href="https://www.instagram.com/nikizefanya/" target="_blank">
                <img class="footer__logo" src="../assets/img/logos/instagram_logo.png" alt="intagram logo">
            </a>
            <a href="https://www.facebook.com/NIKIZefanya" target="_blank">
                <img class="footer__logo" src="../assets/img/logos/facebook_logo.png" alt="facebook logo">
            </a>
            <a href="https://twitter.com/nikizefanya" target="_blank">
                <img class="footer__logo" src="../assets/img/logos/twitter_logo.png" alt="twitter logo">
            </a>
            <a href="https://www.youtube.com/channel/UCaAWRu53UW815hGTmxvHFbA" target="_blank">
                <img class="footer__logo" src="../assets/img/logos/youtube_logo.png" alt="youtube logo">
            </a>
        </div>
        <div class="label">
            <h4>Niki's label agency</h4>
            <div class="label__div">
                <a href="https://88rising.com/" target="_blank"><img class="labelLogo" src="../assets/img/logos/rising88_logo.jpg" alt="88rising logo"></a>
        </div>
    </footer>
    <!-- FIN FOOTER -->
</body>
</html>